
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentoIdentificacaoLabel" data-translate="cos482App.documentoIdentificacao.home.createOrEditLabel">Create or edit a Documento Identificacao</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documentoIdentificacao.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documentoIdentificacao.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cos482App.documentoIdentificacao.tipo" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                    ng-model="vm.documentoIdentificacao.tipo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cos482App.documentoIdentificacao.valor" for="field_valor">Valor</label>
            <input type="text" class="form-control" name="valor" id="field_valor"
                    ng-model="vm.documentoIdentificacao.valor"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
