
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlunoDoutoradoLabel" data-translate="cos482App.alunoDoutorado.home.createOrEditLabel">Create or edit a Aluno Doutorado</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alunoDoutorado.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alunoDoutorado.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="cos482App.alunoDoutorado.ataDissertacao" for="field_ataDissertacao">Ata Dissertacao</label>
            <select class="form-control" id="field_ataDissertacao" name="ataDissertacao" ng-model="vm.alunoDoutorado.ataDissertacaoId" ng-options="documentoSistema.id as documentoSistema.id for documentoSistema in vm.atadissertacaos | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cos482App.alunoDoutorado.certidaoConclusao" for="field_certidaoConclusao">Certidao Conclusao</label>
            <select class="form-control" id="field_certidaoConclusao" name="certidaoConclusao" ng-model="vm.alunoDoutorado.certidaoConclusaoId" ng-options="documentoSistema.id as documentoSistema.id for documentoSistema in vm.certidaoconclusaos | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cos482App.alunoDoutorado.diplomaMestrado" for="field_diplomaMestrado">Diploma Mestrado</label>
            <select class="form-control" id="field_diplomaMestrado" name="diplomaMestrado" ng-model="vm.alunoDoutorado.diplomaMestradoId" ng-options="documentoSistema.id as documentoSistema.id for documentoSistema in vm.diplomamestrados | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cos482App.alunoDoutorado.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.alunoDoutorado.alunoId" ng-options="aluno.id as aluno.id for aluno in vm.alunos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
