<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="global.menu.operations.validar_documento"></h1>
            <p data-translate="validar-documento.subtitle" class="lead"></p>
        </div>

        <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="validar-documento.usuario">Usuario</span></th>
                    <th><span data-translate="validar-documento.declaracaoConclusao">Declaração de Conclusão</span></th>
                    <th><span data-translate="validar-documento.historicoGraduacao">Histórico de Graduação</span></th>
                    <th><span data-translate="validar-documento.diplomaGraduacao">Diploma de Graduação</span></th>
                    <th><span data-translate="validar-documento.certidaoConclusao">Certidão de Conclusão</span></th>
                    <th><span data-translate="validar-documento.certidaoColacao">Certidão de Colação</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alunoM in vm.alunosMestrado track by alunoM.id">
                    <td>
                        <a ui-sref="validar-documento-detail({id:alunoM.aluno.id})">{{alunoM.usuario.nome}}</a>
                    </td>
                    <td>{{alunoM.aluno.declaracaoConclusao}}</td>
                    <td>{{alunoM.aluno.historicoGraduacao}}</td>
                    <td>{{alunoM.aluno.diplomaGraduacao}}</td>
                    <td>{{alunoM.aluno.certidaoConclusao}}</td>
                    <td>{{alunoM.aluno.certidaoColacao}}</td>
                </tr>
            </tbody>
        </table>
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="validar-documento.usuario">Usuario</span></th>
                    <th><span data-translate="validar-documento.declaracaoConclusao">Declaração de Conclusão</span></th>
                    <th><span data-translate="validar-documento.historicoGraduacao">Histórico de Graduação</span></th>
                    <th><span data-translate="validar-documento.ataDissertacao">Ata Dissertação</span></th>
                    <th><span data-translate="validar-documento.certidaoConclusao">Certidão de Conclusão</span></th>
                    <th><span data-translate="validar-documento.diplomaMestrado">Diploma de Mestrado</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alunoD in vm.alunosDoutorado track by alunoD.id">
                    <td>
                        <a ui-sref="validar-documento-detail({id:alunoD.aluno.id})">{{alunoD.usuario.nome}}</a>
                    </td>
                    <td>{{alunoD.aluno.declaracaoConclusao}}</td>
                    <td>{{alunoD.aluno.historicoGraduacao}}</td>
                    <td>{{alunoD.aluno.ataDissertacao}}</td>
                    <td>{{alunoD.aluno.certidaoConclusao}}</td>
                    <td>{{alunoD.aluno.diplomaMestrado}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
