<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="global.menu.operations.validar_documento"></h1>
            <p data-translate="validar-documento.subtitle" class="lead"></p>
        </div>

        <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="validar-documento.usuario">Usuario</span></th>
                    <th><span data-translate="validar-documento.declaracaoConclusao">Declaração de Conclusão</span></th>
                    <th><span data-translate="validar-documento.historicoGraduacao">Histórico de Graduação</span></th>
                    <th><span data-translate="validar-documento.diplomaGraduacao">Diploma de Graduação</span></th>
                    <th><span data-translate="validar-documento.certidaoConclusao">Certidão de Conclusão</span></th>
                    <th><span data-translate="validar-documento.certidaoColacao">Certidão de Colação</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alunoM in vm.alunosMestrado track by alunoM.id">
                    <td>
                        <span>{{alunoM.usuario.nome}}</span>                        
                    </td>
                    <td>                        
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoM.aluno.declaracaoConclusao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoM.aluno.declaracaoConclusaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoM.aluno.declaracaoConclusaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoM.aluno.historicoGraduacao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoM.aluno.historicoGraduacaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoM.aluno.historicoGraduacaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoM.aluno.diplomaGraduacao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoM.aluno.diplomaGraduacaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoM.aluno.diplomaGraduacaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoM.aluno.certidaoConclusao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoM.aluno.certidaoConclusaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoM.aluno.certidaoConclusaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoM.aluno.certidaoColacao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoM.aluno.certidaoColacaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoM.aluno.certidaoColacaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="validar-documento.usuario">Usuario</span></th>
                    <th><span data-translate="validar-documento.declaracaoConclusao">Declaração de Conclusão</span></th>
                    <th><span data-translate="validar-documento.historicoGraduacao">Histórico de Graduação</span></th>
                    <th><span data-translate="validar-documento.ataDissertacao">Ata Dissertação</span></th>
                    <th><span data-translate="validar-documento.certidaoConclusao">Certidão de Conclusão</span></th>
                    <th><span data-translate="validar-documento.diplomaMestrado">Diploma de Mestrado</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alunoD in vm.alunosDoutorado track by alunoD.id">
                    <td>
                        <span>{{alunoD.usuario.nome}}</span>
                    </td>
                    <td>                        
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoD.aluno.declaracaoConclusao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoD.aluno.declaracaoConclusaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoD.aluno.declaracaoConclusaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoD.aluno.historicoGraduacao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoD.aluno.historicoGraduacaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoD.aluno.historicoGraduacaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoD.aluno.ataDissertacao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoD.aluno.ataDissertacaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoD.aluno.ataDissertacaoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoD.aluno.certidaoConclusao}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoD.aluno.certidaoConclusaoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoD.aluno.certidaoConclusaooId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <span>{{alunoD.aluno.diplomaMestrado}}</span>
                            <button type="submit"
                                    ng-click="vm.accept(alunoD.aluno.diplomaMestradoId)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.refuse(alunoD.aluno.diplomaMestradoId)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
