<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="global.menu.operations.descadastrar_aluno"></h1>
            <p data-translate="descadastrar-aluno.subtitle" class="lead"></p>
        </div>
    </div>
    <button type="button" ui-sref="home" class="btn btn-default">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="global.common.cancel"></span>
    </button>
    <br></br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="descadastrar-aluno.name">Usuario</span></th>
                    <th><span data-translate="descadastrar-aluno.cpf">CPF</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in vm.alunos track by aluno.id">
                    <td><a ui-sref="descadastrar-aluno-detail({id:aluno.id})">{{aluno.id}}</a></td>                    
                    <td>{{aluno.usuario.nome}}</td>
                    <td>{{aluno.cpf}}</td>
                     <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="descadastrar-aluno-detail({id:aluno.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="global.common.view"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.deleteAluno(aluno.indexOnArray)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="global.common.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
