<div>
    <h2 data-translate="cos482App.aluno.home.title">Alunos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="aluno.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cos482App.aluno.home.createLabel">
                        Create new Aluno
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cos482App.aluno.dre">Dre</span></th>
                    <th><span data-translate="cos482App.aluno.matricula">Matricula</span></th>
                    <th><span data-translate="cos482App.aluno.declaracaoConclusao">Declaracao Conclusao</span></th>
                    <th><span data-translate="cos482App.aluno.historicoGradaucao">Historico Gradaucao</span></th>
                    <th><span data-translate="cos482App.aluno.usuario">Usuario</span></th>
                    <th><span data-translate="cos482App.aluno.orientador">Orientador</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in vm.alunos track by aluno.id">
                    <td><a ui-sref="aluno-detail({id:aluno.id})">{{aluno.id}}</a></td>
                    <td>{{aluno.dre}}</td>
                    <td data-translate="{{'cos482App.StatusMatricula.' + aluno.matricula}}">{{aluno.matricula}}</td>
                    <td>
                        <a ui-sref="documento-sistema-detail({id:aluno.declaracaoConclusaoId})">{{aluno.declaracaoConclusaoId}}</a>
                    </td>
                    <td>
                        <a ui-sref="documento-sistema-detail({id:aluno.historicoGradaucaoId})">{{aluno.historicoGradaucaoId}}</a>
                    </td>
                    <td>
                        <a ui-sref="usuario-detail({id:aluno.usuarioId})">{{aluno.usuarioId}}</a>
                    </td>
                    <td>
                        <span ng-repeat="orientador in aluno.orientadors">
                            <a class="form-control-static" ui-sref="professor-detail({id: orientador.id})">{{orientador.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aluno-detail({id:aluno.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aluno.edit({id:aluno.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="aluno.delete({id:aluno.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
