<div>
    <h2 data-translate="cos482App.usuario.home.title">Usuarios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="usuario.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cos482App.usuario.home.createLabel">
                        Create new Usuario
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="cos482App.usuario.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="conta"><span data-translate="cos482App.usuario.conta">Conta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpfId"><span data-translate="cos482App.usuario.cpf">Cpf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rgId"><span data-translate="cos482App.usuario.rg">Rg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tituloDeEleitorId"><span data-translate="cos482App.usuario.tituloDeEleitor">Titulo De Eleitor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dispensaMilitarId"><span data-translate="cos482App.usuario.dispensaMilitar">Dispensa Militar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="passaporteId"><span data-translate="cos482App.usuario.passaporte">Passaporte</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="systemUserId"><span data-translate="cos482App.usuario.systemUser">System User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in vm.usuarios track by usuario.id">
                    <td><a ui-sref="usuario-detail({id:usuario.id})">{{usuario.id}}</a></td>
                    <td>{{usuario.nome}}</td>
                    <td data-translate="{{'cos482App.StatusConta.' + usuario.conta}}">{{usuario.conta}}</td>
                    <td>
                        <a ui-sref="documento-identificacao-detail({id:usuario.cpfId})">{{usuario.cpfId}}</a>
                    </td>
                    <td>
                        <a ui-sref="documento-identificacao-detail({id:usuario.rgId})">{{usuario.rgId}}</a>
                    </td>
                    <td>
                        <a ui-sref="documento-identificacao-detail({id:usuario.tituloDeEleitorId})">{{usuario.tituloDeEleitorId}}</a>
                    </td>
                    <td>
                        <a ui-sref="documento-identificacao-detail({id:usuario.dispensaMilitarId})">{{usuario.dispensaMilitarId}}</a>
                    </td>
                    <td>
                        <a ui-sref="documento-identificacao-detail({id:usuario.passaporteId})">{{usuario.passaporteId}}</a>
                    </td>
                    <td>
                        {{usuario.systemUserId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="usuario-detail({id:usuario.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuario.edit({id:usuario.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuario.delete({id:usuario.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
