<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="global.menu.operations.verificar_informacoes_aluno"></h1>
            <p data-translate="verificar-informacoes-aluno.subtitle" class="lead"></p>
        </div>

        <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="verificar-informacoes-aluno.usuario">Usuario</span></th>
                    <th><span data-translate="verificar-informacoes-aluno.dre">Dre</span></th>
                    <th><span data-translate="verificar-informacoes-aluno.matricula">Matricula</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alunoM in vm.alunosMestrado track by alunoM.id">
                    <td>
                        <a ui-sref="verificar-informacoes-aluno-detail({id:alunoM.id})">{{alunoM.usuario.nome}}</a>
                    </td>
                    <td>{{alunoM.aluno.dre}}</td>
                    <td data-translate="{{alunoM.matricula}}">{{alunoM.aluno.matricula}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aluno-detail({id:alunoM.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="aluno in vm.alunosDoutorado track by aluno.id">
                    <td>
                        <a ui-sref="verificar-informacoes-aluno-detail({id:aluno.id})">{{aluno.usuario.nome}}</a>
                    </td>
                    <td>{{aluno.aluno.dre}}</td>
                    <td data-translate="{{aluno.matricula}}">{{aluno.aluno.matricula}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="aluno-detail({id:aluno.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
