<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-minerva.png"/>
                <span data-translate="global.title">Cos482</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('operations')}" ng-switch-when="true" has-any-authority="ROLE_ALUNO_DOUTORADO, ROLE_ALUNO_MESTRADO, ROLE_SECRETARIO_ACADEMICO" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="operations-menu">
                        <span>
                            <span class="glyphicon glyphicon-tasks"></span>
                            <span class="hidden-sm" data-translate="global.menu.operations.main"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="atualizar-matricula" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-refresh"></span>&nbsp;
                                <span data-translate="global.menu.operations.atualizar_matricula"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="cadastrar-aluno" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.cadastrar_aluno"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="cadastrar-professor" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.cadastrar_professor"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="cadastrar-secretario" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.cadastrar_secretario"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="descadastrar-aluno" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.descadastrar_aluno"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="descadastrar-professor" ng-click="vm.collapseNavbar()" has-any-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.descadastrar_professor"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="descadastrar-secretario" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.descadastrar_secretario"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="emitir-diploma" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-print"></span>&nbsp;
                                <span data-translate="global.menu.operations.emitir_diploma"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="enviar-documento-doutorado" ng-click="vm.collapseNavbar()" has-authority="ROLE_ALUNO_DOUTORADO">
                                <span class="glyphicon glyphicon-upload"></span>&nbsp;
                                <span data-translate="global.menu.operations.enviar_documento_doutorado"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="enviar-documento-mestrado" ng-click="vm.collapseNavbar()" has-authority="ROLE_ALUNO_MESTRADO">
                                <span class="glyphicon glyphicon-upload"></span>&nbsp;
                                <span data-translate="global.menu.operations.enviar_documento_mestrado"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="remover-documento-doutorado" ng-click="vm.collapseNavbar()" has-authority="ROLE_ALUNO_DOUTORADO">
                                <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.remover_documento_doutorado"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="remover-documento-mestrado" ng-click="vm.collapseNavbar()" has-authority="ROLE_ALUNO_MESTRADO">
                                <span class="glyphicon glyphicon-minus-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.remover_documento_mestrado"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="validar-documento" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                <span data-translate="global.menu.operations.validar_documento"></span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="verificar-informacoes-aluno" ng-click="vm.collapseNavbar()" has-authority="ROLE_SECRETARIO_ACADEMICO">
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.operations.verificar_informacoes_aluno"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="usuario" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.usuario">Usuario</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="aluno" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.aluno">Aluno</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="secretario-academico" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.secretarioAcademico">Secretario Academico</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="aluno-mestrado" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.alunoMestrado">Aluno Mestrado</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="aluno-doutorado" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.alunoDoutorado">Aluno Doutorado</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="professor" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.professor">Professor</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="documento-identificacao" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.documentoIdentificacao">Documento Identificacao</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="documento-sistema" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.documentoSistema">Documento Sistema</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="log-do-sistema" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.logDoSistema">Log Do Sistema</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span data-translate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
