<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<h1 data-translate="global.menu.operations.cadastrar_aluno"></h1>
			<p data-translate="cadastrar-aluno.subtitle" class="lead"></p>
		</div>
		<div class="col-md-12">
			<form name="cadastrar-aluno-form" role="form" novalidate
				class="form-horizontal" ng-submit="vm.save()">

				<div class="form-group">
					<label data-translate="cadastrar-aluno.type"
						class="control-label col-sm-2" for="type"></label>
					<div class="col-sm-10">
						<select id="cadastrar-aluno-type">
							<option disabled selected value>-- tipo de aluno --</option>
							<option value="Mestrado">Mestrado</option>
							<option value="Doutorado">Doutorado</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.name"
						class="control-label col-sm-2" for="name"></label>
					<div class="col-sm-10">
						<input ng-model="vm.usuario.nome" type="text" class="form-control"
							id="cadastrar-aluno-name" placeholder="ex.: João da Silva">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.email"
						class="control-label col-sm-2" for="email"></label>
					<div class="col-sm-10">
						<input type="email" class="form-control"
							id="cadastrar-aluno-email" placeholder="example@ufrj.br">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.password"
						class="control-label col-sm-2" for="password"></label>
					<div class="col-sm-10">
						<input type="password" class="form-control"
							id="cadastrar-aluno-password" placeholder="**************">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.repeat-password"
						class="control-label col-sm-2" for="repeat-password"></label>
					<div class="col-sm-10">
						<input type="password" class="form-control"
							id="cadastrar-aluno-repeat-password" placeholder="**************">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.cpf"
						class="control-label col-sm-2" for="cpf"></label>
					<div class="col-sm-10">
						<input ng-model="vm.usuario.cpf" type="text" class="form-control"
							id="cadastrar-aluno-cpf" placeholder="999999999">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.rg"
						class="control-label col-sm-2" for="rg"></label>
					<div class="col-sm-10">
						<input ng-model="vm.usuario.rg" type="text" class="form-control"
							id="cadastrar-aluno-rg" placeholder="999999999">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.titulo"
						class="control-label col-sm-2" for="titulo"></label>
					<div class="col-sm-10">
						<input ng-model="vm.usuario.titulo" type="text"
							class="form-control" id="cadastrar-aluno-titulo"
							placeholder="999999999">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.passport"
						class="control-label col-sm-2" for="passport"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							id="cadastrar-aluno-passport" placeholder="999999999">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.dispensa"
						class="control-label col-sm-2" for="dispensa"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							id="cadastrar-aluno-dispensa" placeholder="999999999">
					</div>
				</div>

				<div class="form-group">
					<label data-translate="cadastrar-aluno.dre"
						class="control-label col-sm-2" for="dre"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="cadastrar-aluno-dre"
							placeholder="999999999">
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" ui-sref="home" class="btn btn-default"
						ng-click="vm.clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
							data-translate="global.common.cancel"></span>
					</button>
					<button type="submit" ng-disabled="vm.isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span
							data-translate="global.common.save"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>