<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="global.menu.operations.descadastrar_professor"></h1>
            <p data-translate="descadastrar-professor.subtitle" class="lead"></p>
        </div>
    </div>
    <button type="button" ui-sref="home" class="btn btn-default">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="global.common.cancel"></span>
    </button>
    <br></br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="descadastrar-professor.name">Nome</span></th>
                    <th><span data-translate="descadastrar-professor.siape">Siape</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="professor in vm.professors track by professor.id">
                    <td><a ui-sref="descadastrar-professor-detail({id:professor.id})">{{professor.id}}</a></td>
                    <td>{{professor.nome}}</td>
                    <td>{{professor.siape}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="descadastrar-professor-detail({id:professor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.deleteProfessor(professor.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="global.common.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>